.new-course-module {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.new-course-title {
  display: flex;
  flex-direction: row;
  height: 30px;

  h2 {
    font-size: 25px;
  }
}

.save-module-changes {
  width: fit-content;
}