@import "../../../../../variables";

.stat {
  display: flex;
  align-items: center;
  color: $grey-color-dark;
  margin-right: 25px;
  font-weight: 500;
  white-space: nowrap;
  font-size: 14px;

  .icon {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    flex: 0 0 40px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
