@import "../../variables";

.course-program-content {
  display: flex;
  height: 93vh;
  position: relative;
  flex-direction: column;
}

.course-completion {
  .pro-menu-item.announcements .pro-icon{
    color: #ff9700;
  }
  .pro-sub-menu .pro-icon {
    color: $yellow-light-color;
  }
}

.name {
  position: relative;
  font-size: 32px !important;
  margin: 35px 0 25px 0;
}

.description {
  white-space: break-spaces;
}

.send-answer-btn {
  margin-top: 1em !important;
}

.course-program-content_footer {
  margin-top: 3em;
  margin-bottom: 1.5em;
  text-align: right;
}

.react-quiz-container {
  width: auto;
}