@import "../../StyleConstants";

.authorization-btn {
  border: none;
  border-radius: 10px;
  background-color: white;
  width: 260px;
  height: 61px;
  color: $black;

  display: flex;
  align-items: center;
  box-shadow: 0 21px 22px -13px $box-shadow-grey-dark;
  padding: 1rem 1.5rem;
  justify-content: center;
  line-height: 1.5;

  &-icon {
    margin-right: .5rem;
    display: flex;
    align-items: center;

    svg{
      height: auto;
      width: 1.5em;
    }
  }

  &-links a {
    border-bottom: 1px solid transparent;
    color: $black;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    transition: .3s ease-in-out;

    &:hover {
      border-color: $auth-btn-underline-links;
    }

    &:not(:last-child) {
      margin-right: 1rem;
      position: relative;

      &:after {
        background-color:  $black;
        content: "";
        height: 70%;
        position: absolute;
        right: -.5rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 2px;
      }
    }
  }
}
