@import "../../variables";

.modal {
  color: $black-grey-color;
  font-family: Montserrat,sans-serif;
  line-height: 1.5;

  &-overlay {
    background-color: $black;
    height: 100%;
    left: 0;
    opacity: .3;
    position: fixed;
    top: 0;
    transition: .3s ease-in-out;
    width: 100%;
    z-index: 10;
  }

  &-container {
    z-index: 21;
    top: 50%;

    background-color: $white;
    border: 1px solid $input-border-color;
    border-radius: 1.1rem;
    box-shadow: 0 44px 89px -17px $box-shadow-dark-blue;
    padding: 1.5rem 4.3rem;
    width: 45rem;

    left: 50%;
    position: fixed;
    transform: translate(-50%,-50%);
    transition: .3s ease-in-out;

    .modal {
      z-index: 21;

      &-header {
        font-size: 2em;
        position: relative;
        color: $blue-color;
        line-height: 1.3;
        text-align: center;
      }

      &-content {
        font-size: 18px;

        &-btn {
          display: flex;
          margin-top: 1.8rem;
          margin-bottom: 1rem;

          .btn {
            font-size: 1em;
            padding: 1.4rem 0;
            width: 100%;

            border: none;
            border-radius: .5rem;
            cursor: pointer;
            font-weight: 600;
            outline: none;
            transition: .3s ease-in-out;
          }

          .btn_blue {
            background-color: $blue-color;
            box-shadow: 0 21px 22px -13px $box-shadow-blue-dark;
            color: $white;
            padding: 1.66rem 2.88rem;
          }
        }

        &-link {
          font-size: .9em;
          font-weight: 500;
          margin-top: 1.5rem;
          text-align: center;

          strong {
            color: $blue-color;
            cursor: pointer;
            font-weight: 600;
            margin-left: .5em;
          }
        }
      }
    }
  }
}
