@import "../../../../StyleConstants";

.card-text {
  margin: 2.2rem 0;
  color: $black-grey-color;
  font-size: .9rem;
  line-height: 1.6;

  p {
    -webkit-line-clamp: 7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
