@import "../../StyleConstants";

.home-page {
  background: url("../../imgs/1.jpg");
  background-size: cover;
  height: 100%;

  &-title {
    justify-content: flex-start;
    align-items: center;
    max-width: 1768px;
    margin: 0 auto;
    padding: 0 40px;
    height: calc(100vh - 6rem);
    width: 100%;
    display: flex;
    text-transform: uppercase;

    .title {
      font-size: 20px;
      font-weight: 700;
      line-height: 73px;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      width: 50%;
      color: $white;
    }
  }
}
