@import "../../variables";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.home-page {
  background: url("https://static.vecteezy.com/system/resources/previews/002/849/000/non_2x/modern-dark-background-with-gradient-geometric-shape-themes-vector.jpg");
  //background: url("../../imgs/brain.jpg");
  background-size: cover;
  height: 100%;

  &-title {
    justify-content: flex-start;
    align-items: center;
    max-width: 1768px;
    margin: 0 auto;
    padding: 0 40px;
    height: calc(100vh - 6rem);
    width: 100%;
    display: flex;

    .title {
      font-family: 'Comfortaa', cursive;
      font-weight: 700;
      line-height: 73px;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      width: 50%;
      color: $white;

      h1 {
        font-size: 40px;
      }
    }
  }
}
