@import "../../variables";

.section-header {
  background-color: $black-grey-color;
  justify-content: center;
  height: 50px;

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    &-logo {
      width: 247px;
      height: 60px;

      svg {
        color: $white;
        height: 100%;
        width: 100%;
      }
    }

    &-controls, &-operation {
      align-items: center;
      display: flex;
    }

    &-controls .menu {
      display: flex;

      &-item {
        font-size: 20px;
      }

      &-item:not(:last-child) {
        margin-right: 1.2rem;
      }

      &-item a {
        position: relative;
        transition: .3s ease-in-out;
        text-decoration: none;
        color: #bbb;
      }

      &-item:hover,
      &-item.active {
        transform: scale(1.1);
      }

      &-item a:hover {
        color: $white;
      }

      &-item a:before {
        background-color: $blue-color;
        bottom: 0.1rem;
        content: "";
        height: 1.5px;
        left: 50%;
        opacity: 0;
        position: absolute;
        transform: translateX(-50%);
        transition: .3s ease-in-out;
        width: 110%;
      }

      &-item.active a {
        color: $white;
        &:before {
          opacity: .99;
        }
      }
    }
  }
}
