.courses {
  height: 100%;

  &-content {
    grid-gap: 1.5rem;
    grid-template-columns: 1fr 4fr;
    padding-bottom: 4rem;
    display: grid;
  }

  &-content.one-column {
    grid-template-columns: 1fr;
  }

  &-header {
    color: #24252e;
    font-size: 2em;
    font-weight: 700;
    line-height: 1.25;
  }

  &-search {
    position: relative;
    display: flex;
    padding: 14px 16px;
    margin: 2rem auto;
    width: 44rem;

    .input {
      margin-right: 1rem;
      font-size: 18px;
      box-shadow: 0 21px 22px -13px rgba(62, 84, 216, .22);
    }

    .btn {
      padding: 9px 25px;
      font-size: 16px;
      background-color: #54ad54;
    }

    .btn:active {
      background-color: #246024;
    }
  }

  &-cards {
    grid-gap: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 4rem;
  }
}
