@import "../../../../StyleConstants";

.card-title h3 {
  color: $black-grey-color;
  font-size: 1.77rem;
  margin-right: 0.3rem;

  -webkit-line-clamp: 2;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
