.modal-content {
  &-group {
    &:not(:first-child) {
      margin-top: 0.7rem;
    }

    &-label {
      align-items: center;
      display: flex;
      margin-bottom: .1rem;

      & h4 {
        color: #24252e;
        font-weight: 500;
        margin-right: .7rem;
      }

      span {
        color: #929398;
        font-size: .8em;
      }
    }

    //.input {
    //  background-color: #fcfdff;
    //  border: 1px solid #d3e3ff;
    //  border-radius: .5rem;
    //  outline: none;
    //  padding: .8rem 1.3rem;
    //  transition: .3s ease-in-out;
    //  width: 100%;
    //  font-size: inherit;
    //}

    &-message {
      display: none;
      margin-top: .5rem;
    }

    &-error {
      display: none;
    }
  }

  &.error {
    .modal-content {
      &-group {
        &-error {
          display: block;
          color: #ed6373;
        }
      }

      &-group.error {
        .modal-content-group {
          &-input .input {
            border-color: #ed6373;
          }

          &-message {
            display: block;
            text-align: start;

            & span {
              color: #ed6373;
              font-size: .8em;
            }
          }
        }
      }
    }
  }
}
