@import "../../variables";

.filters {
  height: 100%;
  background-color: cornflowerblue;
  border-radius: 20px;

  min-height: 75vh;
  text-align: center;
  font-size: 1.5em;
  padding: .5em;

  .input {
    font-size: 20px;
  }

  &-btn {
    .btn{
      box-shadow: 0 21px 22px -8px $box-shadow-grey-dark;
    }
  }
}
