.filters {
  height: 100%;
  background-color: cornflowerblue;
  border-radius: 20px;

  min-height: 75vh;
  text-align: center;
  font-size: 1.5em;
  padding: .5em;

  .input {
    font-size: 20px;
  }
}
