$green-color: #54ad54;
$light-green-color: #4aed4e;
$green-color-light: #4cc319;
$green-color-dark: #246024;

$blue-color: #095fa8;
$blue-color-dark: #075190;

$red-color: #ed6373;
$yellow-color: #f3b63f;

$grey-color-light: #929398;
$grey-color-dark: #6a6a6a;
$black-grey-color: #24252e;

$input-bgc-color: #fcfdff;
$input-border-color: #d3e3ff;
$auth-btn-underline-links: #737373;

$white: #fff;
$black: #000;
$light-black: #222;
$app-bgc-color: #eaf1fe;

$box-shadow-grey-dark: rgba(62, 84, 216, .22);
$box-shadow-grey-light: rgb(94, 94, 94, .12);

$box-shadow-dark-blue: rgba(62, 84, 216, .6);
$box-shadow-blue-dark: rgba(62, 84, 216, .51);
$box-shadow-blue-light: rgb(156, 166, 230, .60);

$error-color: #b12e2e;