h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

*, :after, :before {
    box-sizing: border-box;
}

.App {
    min-height: 100vh;
    background-color: #EAF1FE;
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.section-header {
    display: flex;
    flex-direction: row;
    font-size: calc(10px + 2vmin);
    color: white;
    align-items: baseline;
    justify-content: flex-end;
}

.section-header .item {
    margin-right: 1em;
    text-decoration: none;
    color: #000;
}

@keyframes App-logo-spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}

