@import "variables";
@import "~bootstrap/scss/bootstrap";

pre {
  white-space: normal;
}

html,
body {
  height: 100%;
}

#root {
  height: inherit;
}

h1, h2, h3, h4, h6, p {
  margin: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-color: $app-bgc-color;
  text-align: center;
}

.section-outer {
  display: flex;
}

.section-inner {
  max-width: 90%;
}

.container {
  height: 100%;
}

.page-fragment {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.page-fragment.limited {
  max-width: 1200px;
}

.input {
  background-color: $input-bgc-color;
  border: 1px solid $input-border-color;
  border-radius: .5rem;
  outline: none;
  padding: .8rem 1.3rem;
  transition: .3s ease-in-out;
  width: 100%;
  font-size: inherit;
}

.btn {
  text-transform: inherit !important;
}

.btn.green {
  background-color: $green-color;
}

.btn.green:active,
.btn.green:hover {
  background-color: $green-color-dark;
}

.btn.blue {
  background-color: $blue-color;
}

.btn.blue:active,
.btn.blue:hover {
  background-color: $blue-color-dark;
}

.course-redact-btns {
  margin-left: auto;

  .course-redact-btn {
    cursor: pointer;
  }

  .delete-btn {
    width: 1.5em;
    height: 2em;
    color: brown;
  }

  .accept-btn {
    height: 2em;
    width: 1.3em;
    color: limegreen;
    margin-right: 10px;
  }

  .redact-btn {
    height: 2em;
    width: 1.3em;
    color: #ffc107;
    margin-right: 10px;
  }
}

.default-styles {
  ul {
    display: block;
    margin: 0 0 15px 25px;
    padding: 0;

    ul {
      margin-top: 15px;
    }

    li {
      list-style: outside disc;
      margin: 0 0 10px 0;
    }
  }

  p {
    margin: 0 0 15px 0;
  }

  h1 {
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 28px;
  }

  h2 {
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 26px;
  }

  h3 {
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 24px;
  }

  h4 {
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 22px;
  }

  h5 {
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 20px;
  }

  h6 {
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 18px;
  }

  ol {
    display: block;
    margin: 0 0 15px 25px;
    padding: 0;
  }

  ol ol {
    margin-top: 15px;
  }

  ol li {
    list-style: outside decimal;
    margin: 0 0 10px 0;
  }

  table {
    width: 100%;
    margin-bottom: 15px;
    table-layout: fixed;
  }

  th {
    font-weight: 900;
    padding: 10px;
  }

  thead th {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    text-align: center;
  }

  td {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
  }
}