@import "StyleConstants";

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-color: $app-bgc-color;
  text-align: center;
}

.section-outer {
  height: -webkit-fill-available;
  display: flex;
}

.section-inner {
  max-width: 90%;
}

.page-fragment {
  width: 100%;
  margin: 0 auto;
}

.input {
  background-color: $input-bgc-color;
  border: 1px solid $input-border-color;
  border-radius: .5rem;
  outline: none;
  padding: .8rem 1.3rem;
  transition: .3s ease-in-out;
  width: 100%;
  font-size: inherit;
}

.btn {
  color: $white;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

.btn.green {
  background-color: $green-color;
}

.btn.green:active,
.btn.green:hover {
  background-color: $green-color-dark;
}

.btn.blue {
  background-color: $blue-color;
}

.btn.blue:active,
.btn.blue:hover {
  background-color: $blue-color-dark;
}
