@import "../../StyleConstants";

.text-editor {
  min-height: 300px;
  text-align: center;
  border: 1px solid #d3e3ff;
  border-radius: 0.25rem;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.rdw-editor-main {
  min-height: 160px;
}